<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="about-container">
        <h2>Life Story</h2>
        <img src="/images/Jason-Statham2.png"/>
        <p class="text">Jason Statham was born on 26 July 1967 in Shirebrook, Derbyshire, the son of dancer Eileen (née Yates) and street seller Barry Statham.
            His father also worked odd jobs as a house painter, coal miner, and singer in the Canary Islands.Statham moved to Great Yarmouth, Norfolk, 
            where he initially chose not to follow his father's career working the local market stalls, instead practising martial arts. He grew up with 
            football player Vinnie Jones, alongside whom he would later act. Jones introduced him to football, and Statham went on to play for the local 
            grammar school (1978–1983),which he had attended since age 11, a passion that he shared with diving.He practised daily in perfecting his 
            diving techniques, and was a member of Britain's National Swimming Squad for 12 years.He competed for England at the 1990 Commonwealth 
            Games in the 10 metre, 3 metre, and 1 metre competitions.He said in a 2003 interview with IGN that his time with the national squad was 
            "a great experience" and one that "teaches you discipline, focus, and certainly keeps you out of trouble".</p>
    </div>
    <div class="link">
        <a href="/works">Works</a>
    </div>
</body>
</html>