<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="home-container">
        <h1>Jason Statham</h1>
        <img src="/images/Jason-Statham.png"/>
        <p class ="text">Jason Statham (/ˈsteɪθəm/; born 26 July 1967) is an English actor. He is known for portraying characters in various action-thriller films who are typically tough, hardboiled, gritty, or violent.
            Statham began practising Chinese martial arts, kickboxing, and karate recreationally in his youth while working at local market stalls. An avid footballer and diver, he was a member of Britain's national 
            diving team and competed for England in the 1990 Commonwealth Games. Shortly after, he was asked to model for French Connection, Tommy Hilfiger, and Levi's in various advertising campaigns.Click the link to <a href="https://en.wikipedia.org/wiki/Jason_Statham">read more</a></p>
        
    </div>
    <div class="link">
        <a href="/about">About Jason...</a>
    </div>
</body>
</html>